* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --text-color: #e2b5f8;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--bg-url) top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  align-items: center;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  border: 1.5px solid pink;
  background: var(--surface-color-hover);
}

#icones {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  gap: 10px;
  font-size: 24px;
  align-items: flex-start;
}

#icones a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.3s;
}

#icones a:hover {
  background: var(--highlight-color);
}

footer {
  padding: auto;
  text-align: center;
  font-size: 14px;
}
